h2, h3, label{
    font-family: 'Antonio', sans-serif;
}

H1, p, a, footer{
    font-family: 'Hepta Slab', serif;
}

h1{
    font-size:3em;
    margin-left: -2rem;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top:0;
    background-color: white;
    
    
    
} 
#nav-bar{
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    gap: 4rem;
    padding-right: 6rem;
    
    
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

#signup{
    font-size: 2rem;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;       
    gap: 1rem;
}



#submit{
    background-color: black;
    border: none;
    color: white;
    font-family: 'Antonio', sans-serif;
    font-size: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font-weight: 600;
}

#features{
    display:flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 5rem;
    margin-top: 4rem;
    
    
}

#icon{
    width: 50px;
    height: auto;

}

#handmade,#recycled,#delivery{
    display: flex;
    align-items: center;
    gap: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricing{
    display: flex;
    gap: 1.5rem;
    width: 60%;
    justify-content: center;
    margin-top: 4rem;
    
}

#card{    
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    width: 20%;
    padding: 0 0.8rem 0.8rem 0.8rem;
    text-align: center;
    
    flex: 1 0 1;
}

footer{
    margin: 4rem 0 2rem 0;
}